@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Serif:ital,wght@1,200&display=swap');
/*********************************************************/
/*                      GENERAL                          */
/*********************************************************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
}

h1, span {
    font-family: 'Dancing Script', cursive; 
    color: #e6cd7a;
}
span {
    font-size: 200%;
}
/*********************************************************/
/*                    HEADER                             */
/*********************************************************/

header {
    overflow:hidden;
    height: 8rem;
}

  /************************************************************/
  /*                        Navigation                        */
  /************************************************************/ 

/* Naviagation links */

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 3%;
    padding-left: 2rem;
   
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    display: block;
    padding-bottom: 2%;
      
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid whitesmoke;
}

.active {
    border-bottom: 1px solid whitesmoke;
}
/*********************************************************/
/*                 Hero Image and Logo                   */
/*********************************************************/                         
/* Hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 
} 

#hero-image {
    background: no-repeat center center fixed url(../images/hero-image.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    
    
    /* animates zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
   animation-fill-mode: forwards;
}

/* zoom for the hero-image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
} 

   /* Logo*/
   #logo {
    float: right;
    height: 18rem;
    width: 18rem;
    padding-top: 5%;
    padding-right: 7.5%;
            
    }