/*********************************************************/
/*********************************************************/
/*                      GENERAL                          */
/*********************************************************/
/*********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    width:auto;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100vh;
    }

h1, h2, span {
    font-family: 'Alex Brush', cursive;
    color: #e6cd7a;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 10px;
}
span {
    font-size: 200%;
}

a {
    text-decoration: none;
}
/**********************************************************/
/*                      HOME PAGE                         */
/*********************************************************/

/*********************************************************/
/*                    HEADER                             */
/*********************************************************/

.header {
    overflow: hidden;
    height: 4rem;
    width: 100%;
    margin-top: auto;
    position: fixed;
    z-index:1;
    background-color: black;
}
   
 

  /************************************************************/
  /*                        Navigation                        */
  /************************************************************/ 

/* Naviagation links */


#menu {
    font-size: 90%;
    letter-spacing: 4px;
    margin-top: auto;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
        
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    display: block;     
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid whitesmoke;
}

.active {
    border-bottom: 1px solid whitesmoke;
}
/*********************************************************/
/*         SECTION 1 Hero Image and Logo                 */
/*********************************************************/                         
/* Hero image*/

#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden; 
    position: relative;
    clear:both;
} 

#hero-image {
    background: no-repeat center center fixed url(../images/decor/hero-image.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    
    
    
    /* animates zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
   animation-fill-mode: forwards;
}

/* zoom for the hero-image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
} 

   /* Logo*/

   #logo {
    float: right;
    height: 18rem;
    width: 16rem;
                
    }

    .header-logo {
    padding-top: 8rem;
    padding-right: 7rem;
    }

    /******************************************************/
    /*          SECTION 2. Welcome Page                  */
    /*****************************************************/

#golden-bird {
    height: 10rem;
    width: 10rem;
    text-align: center;
    position:static;

}

.golden-element {
    text-align: center;
    padding: 2rem 2rem;
}

.welcome {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.beautify {
    letter-spacing: 10px;
    font-weight: 50;
    font-size: 3rem;
   }

.column {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
}

/*******************************************************/
/*              SECTION 3 Slide Carousel               */
/*******************************************************/

.container {
    padding: 0.5rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem(0 0% 0% 0.25)
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 50px;
    height: 10px;
    border: 2px solid whitesmoke;
    margin: 6px;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity easy 250ms;
}

.slider-nav a:hover {
    background-color: whitesmoke;
}

/***************************************************************/
/*                         FOOTER                              */
/**************************************************************/

footer {
    height: 10rem;
}

.social-networks{
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 2%;
    padding: 2%;
    color:#e6cd7a;
}

.footer-text {
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 5rem;

}

.youtube {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color:#e6cd7a; 
}

/******************************************************************/
/*                       GALLERY                                  */
/******************************************************************/

/******************************************************************/
/*             SECTION 1. Gallery Message                         */
/*****************************************************************/

#gallery-welcome{
    clear:both;
    height: 600px;
    width: 100%;
    overflow: hidden; 
    position: relative; 
}
#gallery-message {
    background: no-repeat center center fixed url(../images/decor/background1.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.gallery-logo {
    
        padding-top: 5rem;
        padding-right: 5.5rem;
        
}

.gallery-note {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 30%;
    padding-top: 1rem;
}

.word-anchor {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif
}

.word-anchor:hover {
    color:#e6cd7a;
    font-family: 'Montserrat', sans-serif
}

/**********************************************************/
/*            SECTION 2. Gallery                          */
/**********************************************************/
